@charset "UTF-8";
/* Header */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
.pioneros {
  font-size: 2rem;
  font-weight: bold;
  color: #FAFAFA;
  text-align: center;
  background-image: linear-gradient(#7AB730, #7AB730);
  justify-content: center;
  height: 300px;
}
.pioneros h1 {
  color: black;
  font-size: 1.7rem;
}
.pioneros img {
  width: auto;
  height: 250px;
}

.encabezado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(#7AB730, #6738fA);
}
.encabezado h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
}

.azul {
  color: #7AB730;
}

.boton {
  background-color: #7AB730;
  color: #fafafa;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
}
.boton:hover {
  background-color: #28a745;
  color: #FAFAFA;
  cursor: pointer;
}

.encabezado li {
  list-style-type: none;
  display: inline-block;
}
.encabezado li a {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 1.5rem;
}
.encabezado li a:hover {
  color: #6738f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

/* Banner */
.banner {
  background-image: url("../assets/fondo.jpeg");
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.bannerContenido {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.bannerContenido img {
  max-width: 100%;
}
.bannerContenido h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #FAFAFA;
  margin-bottom: 10px;
}
.bannerContenido p {
  color: #FAFAFA;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Rubik Mono One", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
.bannerContenido .boton {
  margin-top: 10px;
}

/* Footer */
.footer {
  background-image: linear-gradient(#7AB730, #6738fA);
  color: #fff;
  padding: 20px 0;
}

.footerContenido {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.infoContacto p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.footer i {
  margin-right: 10px;
}

/*NOSTROS*/
.nosotros {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 1350px;
  width: 100%;
}

h5 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.descripcion {
  text-align: justify;
}

/*Contacto*/
.container1 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 1350px;
  width: 80%;
  margin: 10%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border: 3px;
}

label {
  text-align: left;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #000001;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
}
button:hover {
  background-color: #0056b3;
}

/*HORARIOS*/
.horarios {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 1350px;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #0056b3;
}

.horario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.dias {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dia {
  text-align: right;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.horas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hora {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

/*SUCURSALES*/
.contenedor-sucursales {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.map-container {
  flex: 1;
  margin-right: 20px;
}

.image-container {
  flex: 1;
}

/* Estilos para hacer que la imagen sea responsive */
img {
  max-width: 100%;
  height: 100%;
  width: auto;
}

/* Estilos para hacer que el mapa sea responsive */
iframe {
  width: 100%;
  height: 100%;
}

/* Burguer*/
.burgueContenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.contenedorBurgue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(87, 87, 239, 0.293);
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.contenedorBurgue img {
  max-width: 100%;
}
.contenedorBurgue p {
  margin: 10px 0;
}
.contenedorBurgue button {
  background-color: #442396;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}
.contenedorBurgue button:hover {
  background-color: #28a745;
}

/*Vista tablet*/
/*768px hasta 1023px*/
@media (max-width: 1023px) {
  /*Header*/
  .encabezado {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .encabezado .boton {
    display: none;
  }
  /*Banner*/
  .bannerContenido p {
    font-size: 2.5rem;
  }
  .burgueContenedor {
    grid-template-columns: 1fr 1fr;
  }
  /*Footer*/
  .footerContenido {
    flex-direction: column;
    text-align: center;
  }
}
/*Ajustes específicos para la vista móvil*/
/*0 hasta 768px*/
@media (max-width: 768px) {
  .burgueContenedor {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
